<Fragment slot="CollapsedNavLinksSlot">
    <a class="block my-2 nav-accent-link" href="/about/">About</a>
    <a class="block my-2 nav-accent-link" href="/posts/">Posts</a>
    <a class="block my-2 nav-accent-link" href="/kanban/">Kanban</a>
    <a class="block my-2 nav-accent-link" href="/123/">404</a>

</Fragment>
