<Fragment slot="ExpandedNavLinksSlot">
    <a class="group nav-accent-link" href="/about/"> 
        About 
        <span class="animate-underline"></span>
    </a>
    <a class="group nav-accent-link" href="/posts/"> 
        Posts 
        <span class="animate-underline"></span>
    </a>
    <a class="group nav-accent-link" href="/kanban/"> 
        Kanban 
        <span class="animate-underline"></span>
    </a>
    <a class="group nav-accent-link" href="/123/"> 
        404 
        <span class="animate-underline"></span>
    </a>
</Fragment>
