---
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
import SideNav from "../components/SideNav.astro";



const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}> 
    <h1 class=" text-6xl text-center"> {frontmatter.title} </h1>
    
    <div slot="SideNavSlot">
        <!-- <SideNav allPosts={allPosts} transition:persist /> -->
    </div>
    
    <br>
    <Prose>
        
        <slot />
    </Prose>
</BaseLayout>