---
import BaseLayout from "./BaseLayout.astro";
import Prose from "../components/Prose.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}> 
    <h1 class=" text-6xl text-center"> {frontmatter.title} </h1>
    <br>
    <Prose>
        
        <slot />
    </Prose>
</BaseLayout>