---
import BaseLayout from "../layouts/BaseLayout.astro";

import TrelloWidget from "../components/TrelloWidget.astro";
import TrelloSuggestion from "../components/TrelloSuggestion.astro";
const pageTitle = "Home Page"
---

<BaseLayout pageTitle={pageTitle}>

	<h1 class=" text-5xl"> {pageTitle} </h1>
	<h1>My homepage</h1>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
		Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
		Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
	<br>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		Ut enim ad minim veniam.
	</p>

	<br>

	<div class=" relative mx-auto w-full border-2 border-slate-800 mb-4 p-4">
		<TrelloSuggestion />
		<TrelloWidget />
		<!-- <iframe src="https://trello.com/b/5FljPsFO.html" frameborder="0" width="100%" height="600"></iframe> -->
	</div>

	<br>

	<div class=" w-full border-2  border-slate-800 ">
		<p> Featured Posts </p>
	</div>
</BaseLayout>
