---
import BaseLayout from "../layouts/BaseLayout.astro";

import TrelloWidget from "../components/TrelloWidget.astro";
import TrelloSuggestion from "../components/TrelloSuggestion.astro";
import FeaturedPostsWidget from "../components/FeaturedPostsWidget.astro";

const pageTitle = "Home"
---

<BaseLayout pageTitle={pageTitle}>
	<br>
	<p>
		Welcome to my devlog for my game development side project! 
	</p>
	<br>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
		Ut enim ad minim veniam.
	</p>

	<br>

	<div class=" relative mx-auto w-full border-2 border-midnight-800 mb-4 p-4">
		<TrelloSuggestion />
		<TrelloWidget />
		<!-- <iframe src="https://trello.com/b/5FljPsFO.html" frameborder="0" width="100%" height="600"></iframe> -->
	</div>

	<br>

	<div class=" w-full border-2 border-midnight-800 mb-4 p-4">
		<FeaturedPostsWidget />
	</div>
</BaseLayout>
