---

const { url } = Astro.props;
const { title } = Astro.props;

---

<a href={url}>
    <li class="group pl-4 py-2">
        <p class="transition-transform ease-in-out duration-300 group-hover:translate-x-[-5px] group-hover:text-cyan-600 group-hover:text-glow-sm" > {title} </p>
    </li>
</a>
