<div class=" w-full h-16 flex justify-between items-center border-b border-midnight-800 px-4">
    <div>
        <a href="/">HOME ICON</a>
    </div>
    <div>
        <h1 class=" text-4xl "> <span class=" text-gold-600 text-glow ">Timeless</span> DevLog</h1>
    </div>
    <div>
        <a class=" gold-link " href="/about/">About</a>
        <a class=" gold-link " href="/devlog/">DevLog </a>
    </div>
</div>
