
<div class=" w-full h-24 flex justify-between items-center border-b border-neutral-600 px-4">
    <div>
      
        <a href="/">
            <img class=" w-12 h-16 ml-4" src="/src/assets/images/common/icons/battery-placeholder.png"/>
        </a>
    </div>

    <div class=" text-xl ">
        <a class=" accent-link " href="/about/"> About </a>
        <a class=" accent-link " href="/devlog/"> Posts </a> <!-- inconsistent label -->
    </div>
    <div class="flex flex-row flex-nowrap ">
        <div class="flex items-center mr-4 border border-teal-600 hover:bg-teal-900 rounded-full py px-2 transition ease-in-out duration 300"> 
            <a href="https://github.com/c-lonas" target="_blank" class="flex items-center"> 
                <img class="h-8 w-8 mr-2" src="/src/assets/images/common/icons/github-icon.png"/> 
                <p>Github</p> 
            </a>
        </div>
        <div class="flex items-center flex items-center mr-4 border border-teal-600 hover:bg-teal-900 rounded-full py px-2 transition ease-in-out duration 300"> 
            <a href="https://ko-fi.com/battery1" target="_blank" class="flex items-center"> 
                <img class="h-5 w-7 mr-2" src="/src/assets/images/common/icons/kofi-icon.png"/> 
                <p> Support Me </p> 
            </a>
        </div>
    </div>
</div>


