---
---
<div
  class="prose 
  dark:prose-invert
  prose:font-mono
  prose:text-neutral-300
  max-w-none
  prose-xl
  prose:w-full
  prose-h1:font-bold 
  prose-h1:text-xl
  prose-a:text-cyan-600
  prose-a:text-glow
  prose-a:no-underline
  prose-p:text-justify 
  prose-img:rounded-xl
  prose-img:size-full
  
  "

  >
  <slot />
</div>