---
import DevlogListItem from "./DevlogListItem.astro";
import Filter from "./Filter.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');

---

<div class="hidden xl:block fixed left-0 h-screen w-72 border-r border-neutral-600 scrollbar-thin overflow-y-scroll">
    <Filter />
    <ul id="posts-list" class="p-4" data-posts={JSON.stringify(allPosts.reverse().map(post => ({
        url: post.url,
        title: post.frontmatter.title,
        category: post.frontmatter.category
    })))}>

    </ul>
    <div class=" h-24 "></div>
</div>

<script type="module">

    function renderPosts(posts) {
        const postsList = document.getElementById('posts-list');
        postsList.innerHTML = '';
        posts.forEach(post => {
            const anchor = document.createElement('a');
            anchor.href = post.url;

            const listItem = document.createElement('li');
            listItem.className = 'fade-in group pl-4 pb-4'; 

            const paragraph = document.createElement('p');
            paragraph.className = "transition-transform ease-in-out duration-300 group-hover:translate-x-[-5px] group-hover:text-cyan-600 group-hover:text-glow-sm";
            paragraph.textContent = post.title;

            listItem.appendChild(paragraph);
            anchor.appendChild(listItem);
            postsList.appendChild(anchor);
        });
    }

    document.addEventListener('DOMContentLoaded', () => {
      const postsList = document.getElementById('posts-list');
      const postsData = JSON.parse(postsList.dataset.posts);

      renderPosts(postsData);

      document.addEventListener('categoryChange', (event) => {
        const selectedCategory = event.detail;
        const filteredPosts = selectedCategory === 'all'
          ? postsData
          : postsData.filter(post => post.category.toLowerCase() === selectedCategory.toLowerCase());
  
        renderPosts(filteredPosts);
      });
    });

    document.addEventListener('astro:after-swap', () => {
      const postsList = document.getElementById('posts-list');
      const postsData = JSON.parse(postsList.dataset.posts);
      renderPosts(postsData);
    });

</script>