@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none !important;
}


/* required for astro-scroll-observer */
[data-is-top="false"] #header {
    opacity: .7; 
}
  
  
.cyan-accent-link {
    @apply text-cyan-600 text-glow-blue-sm hover:text-cyan-700 hover:text-glow-blue-md transition ease-in-out duration-300;
}
  
.nav-accent-link {
    @apply inline-block text-cyan-600 text-glow-blue-sm bg-gradient-to-t from-dark-gold via-light-gold to-transparent bg-clip-text transition ease-in-out duration-500;
      
}


@layer utilities {
    .text-glow-blue-sm {
        text-shadow: 0 0 2px rgba(0, 115, 200, 0.9);
    }    
    .text-glow-blue-md {
        text-shadow: 0 0 4px rgba(0, 115, 200, 0.9);
    }    

    .text-glow-gold-sm {
        text-shadow: 0 0 2px rgba(228, 195, 88, 0.9);
    }    
    .text-glow-gold-md {
        text-shadow: 0 0 4px rgba(228, 195, 88, 0.9);
    } 

}


.nav-accent-link:hover {
    color: transparent;
    background-clip: text;
    text-shadow:  none;
    from: dark-gold;
    to: light-gold;
}


.animate-underline {
    @apply block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-cyan-600
}

@layer components {

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-20px);
            font-style: italic;
        }
        80% {
            transform: translateX(10px); 
            font-style: italic;
        }
        95% {
            transform: translateX(-5px);
            font-style:  normal;
        }
        100% {
            opacity: 1;
            transform: translateX(0);
            font-style: normal; 
        }
    }
    
    .fade-in {
        animation-name: fadeIn;
        animation-fill-mode: both;
        /* animation-timing-function: cubic-bezier(.3,1.77,.52,-0.41); */
        animation-timing-function: cubic-bezier(.5, 1.5, .5, 1);
        animation-duration: 2.5s; 
    }
    
    
}