---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "404"
---

<BaseLayout pageTitle={pageTitle}>
    <h1 class=" text-center text-6xl m-16"> 404 </h1>
    <img class=" mx-auto mb-8 "src="/src/assets/images/common/gifs/notthedroids.gif" alt="Star Wars - Not The Droids You're Looking For Gif" />
    <p class=" text-center text-3xl mb-8">This is not the page you're looking for</p>
    <p class=" text-center text-xl "> Return <a class=" cyan-accent-link "href="/">Home</a> </p>
    
</BaseLayout>
