---

import SideNav from "shared/src/components/SideNav.astro";
import TechPageLayout from "../layouts/TechPageLayout.astro";

const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "About";
---


<TechPageLayout pageTitle={pageTitle} allPosts={allPosts}>
    <div slot="SideNavSlot">
        <SideNav allPosts={allPosts} transition:persist />
    </div>
    <div slot="PageContent" >
        <h1 class="text-2xl"> Maybe some content for this page</h1>
        <br>
        <p> or maybe not</p>
    </div>
</TechPageLayout>
