---

import SideNav from "../components/SideNav.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
    <!-- <SideNav /> -->
    <h1 class=" text-5xl"> {pageTitle} </h1>
    <h1> My About Page </h1>
    <br>
    <p> Could literally just be deleted</p>
    <br>
    <p>Could be an 'About Me'</p>
    <br>
    <p> Could be replaced with the Game Design Doc</p>
    <br>
    
</BaseLayout>
