---
import SideNav from "shared/src/components/SideNav.astro";
import TechPageLayout from "../layouts/TechPageLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Home";
---

<TechPageLayout pageTitle={pageTitle} allPosts={allPosts}>
    <div slot="SideNavSlot">
        <SideNav allPosts={allPosts}/>
    </div>
    <div slot="PageContent" >
        <h1 class="text-2xl"> some bigger words</h1>
        <br>
        <p> more words on this page</p>
    </div>
</TechPageLayout>