---
import SideNav from "shared/src/components/SideNav.astro";
import TechPageLayout from "../layouts/TechPageLayout.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Home";


import Terminal from "../components/Terminal.astro";
---

<TechPageLayout pageTitle={pageTitle} allPosts={allPosts}>
    <div slot="SideNavSlot">
        <SideNav allPosts={allPosts} transition:persist />
    </div>
    <div slot="PageContent" class="mt-24">
        <Terminal />
    </div>
</TechPageLayout>