---
import BaseLayout from "shared/src/layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
	<Fragment slot="PageContent">
		<h1 class="text-6xl text-center mt-24">Landing Content Coming Soon!</h1>
		<h2 class="text-3xl text-center mt-8"> Check out my <a class="cyan-accent-link" href="https://tech.battery.nexus">Tech blog</a> for now</h2>
	</Fragment>
		
</BaseLayout>
		

