@tailwind base;
@tailwind components;
@tailwind utilities;



/* .bg-label-red { background-color: var(--color-red); }
.bg-label-green { background-color: var(--color-green); } */
@layer utilities {
    .text-glow {
        text-shadow: 0 0 12px rgba(255, 189, 67, 0.89);
    }    
}

