@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .text-glow-blue-sm {
        text-shadow: 0 0 2px rgba(0, 115, 200, 0.9);
    }    
    .text-glow-blue-md {
        text-shadow: 0 0 4px rgba(0, 115, 200, 0.9);
    }    

    .text-glow-gold-sm {
        text-shadow: 0 0 2px rgba(228, 195, 88, 0.9);
    }    
    .text-glow-gold-md {
        text-shadow: 0 0 4px rgba(228, 195, 88, 0.9);
    } 


}

.cyan-accent-link {
    @apply text-cyan-600 text-glow-blue-sm hover:text-cyan-700 hover:text-glow-blue-md transition ease-in-out duration-300;
}

.nav-accent-link {
    @apply inline-block text-cyan-600 text-glow-blue-sm bg-gradient-to-t from-dark-gold via-light-gold to-transparent bg-clip-text transition ease-in-out duration-500;
    
}

[data-is-top='true'] #header {
  opacity: 1; 
}


.nav-accent-link:hover {
    color: transparent;
    background-clip: text;
    text-shadow:  none;
    from: dark-gold;
    to: light-gold;
}


.animate-underline {
    @apply block max-w-0 group-hover:max-w-full transition-all duration-500 h-0.5 bg-cyan-600
}


@layer components {

    #category-select.show {
        animation: slideIn 0.3s forwards;
    }

    #category-select.hide {
        animation: slideOut 0.3s forwards;
      }

    @keyframes slideIn {
        from { transform: scaleX(0) scaleY(1) translateX(15px); opacity: .5; }
        to { transform: scaleX(1) scaleY(1); opacity: 1; }
    }

    @keyframes slideOut {
        from { transform: scaleX(1) scaleY(1); opacity: 1; }
        to { transform: scaleX(0) scaleY(1) translateX(15px); opacity: .5; }
    }



    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
  
    .fade-in {
      animation: fadeIn 0.5s ease-out;
    }
  }