---
import Header from "../components/Header.astro";
import SideNav from "../components/SideNav.astro";

import { ViewTransitions } from "astro:transitions";

const { pageTitle } = Astro.props;
---

<html lang="en" class="scrollbar scrollbar-thumb-neutral-800 scrollbar-track-neutral-900">

	<head>
		<ViewTransitions />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> {pageTitle} </title>

		
	</head>
	
	<body class=" h-screen w-full dark:bg-neutral-900 bg-fixed font-mono text-neutral-300 scrollbar">
		
		<div>
			<Header />
			<div class=" h-20 "></div>
			<SideNav />
			<div class=" mx-auto w-4/5 md:w-3/5 h-1/2 ">
				<slot />
			</div>
		</div>
	</body>
</html>