---
import Header from "../components/Header.astro";
import SideNav from "../components/SideNav.astro";

import { ViewTransitions } from "astro:transitions";
import { ScrollObserver } from 'astro-scroll-observer';

const { pageTitle } = Astro.props;
---

<html lang="en" class="scrollbar scrollbar-thumb-neutral-800 scrollbar-track-neutral-900">

	<head>
		<!-- <ViewTransitions /> -->
		<ScrollObserver />
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/styles.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title> {pageTitle} </title>

		
	</head>
	
	<body class=" h-screen w-full dark:bg-neutral-900 bg-fixed font-mono text-neutral-300 overflow-y-scroll">
		
		<div class=" relative ">
			<Header />
			<div class=" h-16 "></div> <!--Spacer for Header -->
			<div class=" mx-auto w-3/5 lg:w-2/5">
				
				<slot />
			</div>
		</div>
	</body>
</html>